.polypropyleneHome {
  padding: 40px 0 70px;
  position: relative;
}
.polypropyleneHome__img {
  position: absolute;
  right: 0;
  top: 0;
}
.polypropyleneHome__comment {
  margin: 30px 0 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
}
.polypropyleneHome__row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
}
.polypropyleneHome__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 20px);
  padding: 0 30px;
}
.polypropyleneHome__card .quotes_first {
  position: absolute;
  top: 50px;
  left: 0;
}
.polypropyleneHome__card .quotes_second {
  position: absolute;
  right: 0;
  top: 170px;
}
.polypropyleneHome__card_row {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.polypropyleneHome__card_row p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
}

.environment {
  padding: 0 0 70px;
  position: relative;
}
.environment__image {
  position: absolute;
  right: 0;
  top: 0;
}
.environment__row {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.environment__row p {
  padding: 0 0 0 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
}
.environment__row p::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #569E28;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translateY(75%);
}
.environment__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #45423F;
  margin: 0 0 50px;
}
.environment__subtitle {
  margin: 30px 0;
}

.polypropyleneSubtitle {
  padding: 0 0 70px;
}
.polypropyleneSubtitle__second {
  margin: 70px 0;
}
.polypropyleneSubtitle__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #45423F;
}
.polypropyleneSubtitle__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.8);
  margin: 40px 0 30px;
}
.polypropyleneSubtitle__descr {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.8);
}

.polypropylene {
  position: relative;
}
.polypropylene__button {
  position: absolute;
  top: 700px;
  right: 0;
}
.polypropylene__bag {
  position: absolute;
  top: 1500px;
  right: 0;
}

@media (max-width: 1600px) {
  .polypropylene .container {
    max-width: 1400px;
  }
  .polypropylene .polypropyleneHome__img {
    width: 250px;
    height: 200px;
  }
  .polypropylene .environment__image {
    top: -30px;
    width: 300px;
    height: 170px;
  }
  .polypropylene .environment__img {
    width: 50%;
  }
  .polypropylene .environment__img img {
    height: 600px;
    width: 100%;
  }
  .polypropylene .environment__content {
    width: 50%;
  }
  .polypropylene .work__card_subtitle {
    height: auto;
  }
}
@media (max-width: 1400px) {
  .polypropyleneHome .container {
    max-width: 1200px;
  }
  .polypropyleneHome__img {
    width: 260px;
    height: 240px;
  }
  .polypropyleneHome .work__row {
    column-gap: 40px;
  }
  .polypropyleneHome .work__swiper {
    padding: 0 60px;
  }
  .polypropyleneHome .work__card {
    width: calc(50% - 20px);
    column-gap: 30px;
    align-items: center;
    padding: 15px;
  }
  .polypropyleneHome .work__card_title {
    font-size: 22px;
  }
  .polypropyleneHome .work__card_subtitle {
    font-size: 20px;
  }
  .polypropyleneHome .work__card_img {
    padding: 0 30px;
    width: 150px;
    height: 130px;
  }
  .polypropyleneHome .work__card_img img {
    width: 94px;
    height: 64px;
  }
  .polypropyleneHome__card_row img {
    width: 170px;
    height: 75px;
  }
  .polypropyleneHome__card_row p {
    font-size: 17px;
  }

  .environment .container {
    max-width: 1200px;
  }
  .environment__image {
    top: -50px;
    width: 250px;
    height: 150px;
  }
  .environment__img img {
    width: 550px;
    height: 520px;
  }
  .environment__title {
    font-size: 32px;
  }
  .environment__row {
    column-gap: 40px;
  }
  .environment__row p {
    font-size: 22px;
  }

  .polypropyleneSubtitle .container {
    max-width: 1200px;
  }
  .polypropyleneSubtitle__title {
    font-size: 32px;
  }
  .polypropyleneSubtitle__subtitle {
    font-size: 22px;
  }
  .polypropyleneSubtitle__descr {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .polypropylene .polypropyleneHome .container {
    max-width: 992px;
  }
  .polypropylene .polypropyleneHome__img {
    width: 200px;
    height: 180px;
  }
  .polypropylene .polypropyleneHome__row {
    column-gap: 20px;
  }
  .polypropylene .polypropyleneHome .work__row {
    column-gap: 20px;
  }
  .polypropylene .polypropyleneHome .work__card {
    width: calc(50% - 10px);
    column-gap: 20px;
  }
  .polypropylene .polypropyleneHome .work__card_title {
    font-size: 20px;
  }
  .polypropylene .polypropyleneHome .work__card_img {
    width: 120px;
    height: 100px;
  }
  .polypropylene .polypropyleneHome__card {
    padding: 0 15px 0 30px;
  }
  .polypropylene .polypropyleneHome__card_row {
    column-gap: 20px;
  }
  .polypropylene .polypropyleneHome__card_row img {
    width: 132px;
    height: 65px;
  }
  .polypropylene .environment .container {
    max-width: 992px;
  }
  .polypropylene .environment__image {
    transform: translateY(-100%);
    top: 20px;
  }
  .polypropylene .environment__title {
    font-size: 30px;
  }
  .polypropylene .environment__img {
    width: 50%;
    height: auto;
  }
  .polypropylene .environment__img img {
    width: 100%;
    height: auto;
  }
  .polypropylene .environment__content {
    width: 50%;
  }
  .polypropylene .work__card_subtitle {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 992px) {
  .polypropylene .polypropyleneHome .container {
    max-width: 768px;
  }
  .polypropylene .polypropyleneHome__card {
    width: 70%;
    padding: 15px;
  }
  .polypropylene .polypropyleneHome__card_row p {
    font-size: 19px;
  }
  .polypropylene .polypropyleneHome__card_row img {
    width: 120px;
    height: 60px;
  }
  .polypropylene .polypropyleneHome__card .quotes_first {
    left: 23%;
    top: 0;
  }
  .polypropylene .polypropyleneHome__card .quotes_second {
    top: auto;
    right: 0;
    bottom: 15px;
  }
  .polypropylene .polypropyleneHome__img {
    width: 150px;
    height: 130px;
  }
  .polypropylene .polypropyleneHome__row {
    justify-content: center;
  }
  .polypropylene .polypropyleneHome__row .work__card {
    width: 70%;
  }
  .polypropylene .environment .container {
    max-width: 768px;
  }
  .polypropylene .environment__image {
    width: 200px;
    height: 125px;
    top: 0;
  }
  .polypropylene .environment__row {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .polypropylene .environment__img {
    width: 70%;
  }
  .polypropylene .environment__content {
    width: 70%;
    margin: 0 0 50px;
  }
}
@media (max-width: 768px) {
  .polypropylene .container {
    max-width: 576px;
  }
  .polypropylene .polypropyleneHome__img {
    width: 100px;
    height: 80px;
  }
  .polypropylene .polypropyleneHome__comment {
    margin: 20px 0 30px;
  }
  .polypropylene .environment__content {
    width: 100%;
  }
  .polypropylene .work__card_subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .polypropylene .polypropyleneHome__card_row p {
    font-size: 16px;
    line-height: 20px;
  }
  .polypropylene .polypropyleneHome__card .quotes_second {
    right: 40px;
  }
}
@media (max-width: 576px) {
  .polypropylene {
    padding: 50px 20px;
  }
  .polypropylene .work__card {
    width: 100%;
  }
  .polypropylene .environment__image {
    width: 120px;
    height: 80px;
  }
  .polypropylene .environment__title {
    font-size: 24px;
    margin: 0 0 30px;
  }
  .polypropylene .environment__row p {
    font-size: 20px;
  }
  .polypropylene .environment__img {
    width: 100%;
  }
  .polypropylene .polypropyleneSubtitle__title {
    font-size: 24px;
  }
  .polypropylene .polypropyleneSubtitle__subtitle {
    font-size: 20px;
    margin: 20px 0;
    line-height: 30px;
  }
  .polypropylene .polypropyleneSubtitle__descr {
    font-size: 20px;
    line-height: 30px;
  }
  .polypropylene .polypropyleneHome__row .work__card {
    width: 100%;
  }
  .polypropylene .polypropyleneHome__row .work__card_img {
    width: 90px;
    height: 80px;
  }
  .polypropylene .polypropyleneHome__row .work__card_img img {
    width: 70px;
    height: 45px;
  }
  .polypropylene .polypropyleneHome__row .polypropyleneHome__card {
    width: 100%;
  }
  .polypropylene .polypropyleneHome__row .polypropyleneHome__card_row img {
    width: 90px;
    height: 60px;
  }
}
@media (max-width: 425px) {
  .polypropylene {
    padding: 0 10px;
  }
  .polypropylene .polypropyleneHome__img {
    display: none;
  }
  .polypropylene .polypropyleneHome .work__card_title {
    margin: 0 0 10px;
    padding: 0 0 10px;
    font-size: 18px;
    line-height: 22px;
  }
  .polypropylene .polypropyleneHome .work__card_subtitle {
    font-size: 14px;
    line-height: 17px;
  }
  .polypropylene .polypropyleneHome__card {
    width: 100%;
  }
  .polypropylene .polypropyleneHome__card_row p {
    font-size: 14px;
    line-height: 17px;
  }
  .polypropylene .environment__title {
    line-height: 30px;
    font-size: 22px;
  }
  .polypropylene .environment__row p {
    font-size: 18px;
  }
  .polypropylene .polypropyleneSubtitle__title {
    font-size: 22px;
    line-height: 30px;
  }
  .polypropylene .polypropyleneSubtitle__subtitle {
    font-size: 18px;
    line-height: 25px;
  }
  .polypropylene .polypropyleneSubtitle__descr {
    font-size: 16px;
    line-height: 20px;
  }

  .polypropylene .polypropyleneHome__card .quotes_first, .polypropylene .polypropyleneHome__card .quotes_second {
    width: 18px;
    height: 13px;
  }
}

/*# sourceMappingURL=polypropylene.css.map */
