.buttonsRow-greenBtn {
  background: #DDCBB5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.buttonsRow {
  width: auto;
  margin: 0;
  justify-content: flex-start;
}

.assecoriesProduct {
  padding: 130px 0 70px;

  &__top {
    margin: 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__row {
    display: flex;
    column-gap: 40px;
    margin: 0 0 70px;
    .tablewareProduct__gallery {
      margin: 0;
      &_descr {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: rgba(0, 0, 0, 0.8);
        margin: 50px 0 0;
      }
    }
  }

  &__sort {
    width: 22.8%;

    &_top {
      border: 2px solid #F5F7FB;
      margin: 0 0 30px;

      .active {
        background: #CADBF1;
        border-radius: 1px;
      }

      p:not(:last-child) {
        border-bottom: 2px solid #F5F7FB;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        font-feature-settings: 'liga' off, 'kern' off;
        color: #3E3E3E;
        padding: 30px;
      }
    }

    &_bot {
      border: 2px solid #F5F7FB;
      h3 {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 60px;
        text-align: center;
        color: #3F3F3F;
        background: #CADBF1;
        border-radius: 1px;
        padding: 9px 65px;
      }
      &-form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        & input {
          width: 100%;
          padding: 18px;
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          border: 2px solid #F5F7FB;
          border-radius: 2px;
          margin: 0 0 15px;
        }
        & button {
          background: #CADBF1;
          border-radius: 1px;
          font-family: Montserrat, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          color: rgba(0, 0, 0, 0.7);
          border: none;
          padding: 15px 0;
        }
      }
    }
  }

  &__right {
    display: flex;
    border: 1px solid #ECD9C6;
    &_btn {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
      border: none;
      background: #569E28;
      border-radius: 1px;
      padding: 18px 0;
      width: 100%;
      margin: 30px 0 0;
    }
    & li {
      padding: 25px 20px;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      font-feature-settings: 'liga' off, 'kern' off;
    }
    & li:not(:last-child) {
      border-bottom: 1px solid #ECD9C6;
    }
    &_list {
      width: 100%;
      background: rgba(221, 203, 181, 0.15);
      border-radius: 1px;
      & li {
        color: #9D8675;
        border-right: 1px solid #ECD9C6;
      }
    }
    &_stats {
      width: 100%;
    }
  }
  .tablewareProduct__cards_item {
    background: rgba(221, 203, 181, 0.15);
  }
}

@media (max-width: 1400px) {
  .assecoriesProduct {
    .container {
      max-width: 1200px;
    }
    &__sort {
      width: 23.5%;
      &_bot {
        width: 100%;
        h3 {
          padding: 10px 0;
          font-size: 22px;
        }
      }
      &_top {
        width: 100%;
        p {
          padding: 15px;
        }
      }
    }
    &__gallery {
      width: 49.5%;
      &_descr {

      }
    }
    &__char {
      width: 23.5%;
    }
  }
}

@media (max-width: 1200px) {
  .assecoriesProduct {
    &__row {
      column-gap: 30px;
    }
    &__sort {
      &_top {
        p {
          font-size: 15px;
        }
      }
      &_bot {
        h3 {
          font-size: 20px;
        }
      }
    }
    &__right {
      &_stats {
        li {
          padding: 10px;
        }
      }
      &_list {
        li {
          padding: 10px;
        }
      }
    }
  }
}