@media (max-width: 1600px) {
  .contacts {
    .container {
      max-width: 1400px;
    }
  }
}

@media (max-width: 1250px) {
  .contacts__map-right {
    row-gap: 10px;

    span {
      font-size: 16px;
    }
  }

}

@media (max-width: 1100px) {
  .contacts__columns{
    &_column{
      width: 350px;
    }
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media (max-width: 950px) {
  .contacts__map-right h2 {
    line-height: 40px;
    font-size: 20px;
  }
  .contacts__map-right {
    span {
      line-height: 20px;
      font-size: 14px;
    }
  }
}

@media (max-width: 800px) {
  .contacts__map{
    flex-flow: column;
    &-left{
      width: 100%;
    }
    &-right{
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .contacts__infoRow{
    span{
      font-size: 16px;
    }
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .contacts__columns_column{
    row-gap: 15px;
  }
  .contacts{
    padding: 20px 10px;
    &__map {
      flex-direction: column;
      row-gap: 30px;
      background: none;
    }
  }
  .contacts .section__title{
    margin: 10px 0;
  }
  .contacts__map-left {
  }
  .contacts__map-right {
    background: #BCD0BD;
  }
  .contacts__columns {
    row-gap: 60px;
  }
}