.sectionCatalog {
  padding: 40px 0;
}
.sectionCatalog__row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sectionCatalog__whichSection {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #393939;
}
.sectionCatalog__title {
  margin-top: 70px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #45423F;
}
.sectionCatalog__info {
  margin-top: 30px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
}
.sectionCatalog__complectsRow {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-top: 30px;
}
.sectionCatalog__complectsRow-card {
  user-select: none;
  width: 500px;
  height: 275px;
  background: rgba(221, 203, 181, 0.15);
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sectionCatalog__complectsRow-card_title {
  position: absolute;
  width: 329px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 81px;
  background: #FFFFFF;
  opacity: 0.9;
  border-radius: 1px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.sectionCatalog__beforeProductsRow {
  display: flex;
  column-gap: 40px;
  margin-top: 40px;
}
.sectionCatalog__beforeProductsRow-card {
  padding: 30px 40px;
  position: relative;
  background: rgba(221, 203, 181, 0.15);
  border-radius: 1px;
  width: 770px;
  height: 215px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.sectionCatalog__beforeProductsRow-card img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sectionCatalog__beforeProductsRow-card_title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.sectionCatalog__beforeProductsRow-card_ul {
  display: flex;
  column-gap: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.sectionCatalog__beforeProductsRow-card_left {
  row-gap: 18px;
  display: flex;
  flex-direction: column;
}
.sectionCatalog__beforeProductsRow-card_right {
  row-gap: 18px;
  display: flex;
  flex-direction: column;
}
.sectionCatalog__beforeProductsRow .sectionCatalog__beforeProductsRow-card_red {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #FF5555;
}
.sectionCatalog .section__title {
  width: 100%;
  margin-top: 70px;
  text-align: center;
  margin-bottom: 45px;
}
.sectionCatalog__form {
  width: 100%;
  background: #BBD0BD;
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
}
.sectionCatalog__form-right img {
  height: 100%;
  width: 100%;
}
.sectionCatalog__form-label {
  display: flex;
  column-gap: 25px;
}
.sectionCatalog__form-label input {
  background: #FFFFFF;
  border-radius: 1px;
  border: none;
  padding: 15px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.65);
}
.sectionCatalog__form-label input::placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.65);
}
.sectionCatalog__form-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  text-transform: capitalize;
  color: #3F3F3F;
}
.sectionCatalog__form-left {
  padding: 70px 0 0 90px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.sectionCatalog__form-btnAndInfo {
  display: flex;
  justify-content: space-between;
}
.sectionCatalog__form-btnAndInfo .infoAndCheckbox {
  display: flex;
  column-gap: 10px;
}
.sectionCatalog__form-btnAndInfo .infoAndCheckbox_title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #3F3F3F;
}
.sectionCatalog__form-btnAndInfo .infoAndCheckbox_checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.sectionCatalog__form-btnAndInfo_button {
  border: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding: 15px 65px;
  background: #569E28;
  border-radius: 1px;
}
.sectionCatalog__infoTitle {
  margin-top: 70px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.8);
}

/*# sourceMappingURL=catalog.css.map */
