.sectionCatalog {
  padding: 40px 0;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__whichSection {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #393939;
  }

  &__title {
    margin-top: 70px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #45423F;
  }

  &__info {
    margin-top: 30px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.8);
  }


  &__complectsRow {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-top: 30px;

    &-card {
      user-select: none;
      width: 500px;
      height: 275px;
      background: rgba(221, 203, 181, 0.15);
      border-radius: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &_title {
        position: absolute;
        width: 329px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 81px;
        background: #FFFFFF;
        opacity: 0.9;
        border-radius: 1px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #000000;
      }
    }
  }

  &__beforeProductsRow {
    display: flex;
    column-gap: 40px;
    margin-top: 40px;

    &-card {
      padding: 30px 40px;
      position: relative;
      background: rgba(221, 203, 181, 0.15);
      border-radius: 1px;
      width: 770px;
      height: 215px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }

      &_title {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
      }

      &_ul {
        display: flex;
        column-gap: 50px;

        span {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 26px;
          color: #000000;
          transition: 0.3s;
        }

        span:hover{
          cursor: pointer;
          color: #FF5555;
        }

      }

      &_left {
        row-gap: 18px;
        display: flex;
        flex-direction: column;
      }

      &_right {
        row-gap: 18px;
        display: flex;
        flex-direction: column;
      }
    }

  }

  .section__title {
    width: 100%;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 45px;
  }

  &__form {
    width: 100%;
    background: #BBD0BD;
    border-radius: 1px;
    display: flex;
    justify-content: space-between;

    &-right {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }

    &-label {
      display: flex;
      column-gap: 25px;

      input {
        background: #FFFFFF;
        border-radius: 1px;
        border: none;
        padding: 15px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.65);
      }

      input::placeholder {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.65);
      }
    }

    &-title {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 65px;
      color: #3F3F3F;
    }

    &-left {
      padding: 70px 0 0 90px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &-btnAndInfo {
      display: flex;
      justify-content: space-between;

      .infoAndCheckbox {
        display: flex;
        column-gap: 10px;

        &_title {
          font-family: Montserrat, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          color: #3F3F3F;
        }

        &_checkbox {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }

      &_button {
        border: none;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;

        padding: 15px 65px;
        background: #569E28;
        border-radius: 1px;
      }
    }
  }

  &__infoTitle {
    margin-top: 70px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
  }
}


