.first-screen .swiper-pagination {
  bottom: 20% !important;
}
.first-screen .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  opacity: unset;
}
.first-screen .swiper-pagination-bullet-active {
  background: #9D8675 !important;
}
.first-screen__row {
  display: flex;
}
.first-screen__left {
  background: url("./imgs/firstscreen-left.svg") center/cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.first-screen__right {
  background: url("./imgs/firstscreen-right.svg") center/cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.first-screen__card {
  position: relative;
  width: 50%;
}
.first-screen__card_item {
  padding: 45px 0;
}
.first-screen__card_content {
  margin: 0 auto;
  height: 504px;
  width: 65.6934306569%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(221, 203, 181, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 0.825417px;
}
.first-screen__card_title {
  font-weight: bold;
  font-size: 59.43px;
  line-height: 72px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  text-align: center;
}
.first-screen__card_subtitle {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 50px;
}
.first-screen__card_btns {
  display: flex;
}
.first-screen__card_btns .btn {
  background: transparent;
  padding: 15px 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.7);
}
.first-screen__card_btns-left {
  border: 2px solid #9D8675;
  border-radius: 0.825417px;
}
.first-screen__card_btns-right {
  border: none;
}

.about {
  padding: 0 0 70px;
}
.about__leaves {
  width: 18.6458333333%;
  position: absolute;
  top: 0;
  left: 0;
}
.about__box {
  position: relative;
}
.about__content {
  padding: 200px 0 0;
  width: 49.6%;
}
.about__img {
  width: 42.5%;
  position: absolute;
  right: 0;
  top: 37.1590909091%;
}
.about__btn {
  position: absolute;
  top: 13%;
  right: 0;
}
.about__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 0 30px;
  position: relative;
  margin: 0 0 50px;
}
.about__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  height: 2px;
  width: 13.6764705882%;
}
.about__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  margin: 0 0 50px;
}
.about__more {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.85);
}

.work {
  padding: 0 0 70px;
}
.work .container {
  position: relative;
}
.work__swiper {
  position: relative;
  padding: 0 70px;
}
.work__img {
  position: absolute;
  right: 0;
  transform: translateY(-25%);
  width: 5.5729166667%;
}
.work .swiper {
  position: static;
}
.work .swiper-button-prev {
  position: absolute;
  left: 1%;
  top: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9D8675;
  box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);
}
.work .swiper-button-prev::after {
  color: white;
  font-size: 24px;
}
.work .swiper-button-next {
  position: absolute;
  right: 1%;
  top: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9D8675;
  box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);
}
.work .swiper-button-next::after {
  color: white;
  font-size: 24px;
}
.work__title {
  margin-bottom: 40px;
  text-align: center;
}
.work__row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 40px;
}
.work__card {
  background: rgba(202, 219, 241, 0.15);
  border-radius: 1px;
  width: calc(50% - 35px);
  padding: 30px 15px 30px 30px;
  display: flex;
  column-gap: 40px;
}
.work__card_img {
  background: #BBD0BD;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 174px;
  height: 160px;
  padding: 0 40px;
}
.work__card_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding: 0 0 20px;
  margin: 0 0 20px;
  position: relative;
}
.work__card_title::before {
  content: "";
  background: #569E28;
  height: 4px;
  width: 87px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.work__card_subtitle {
  height: 90px;
  font-size: 20px;
  line-height: 30px;
  overflow: auto;
}

.sale {
  height: 570px;
  padding: 0 0 79px;
}
.sale .adaptive {
  display: none;
}
.sale .swiper {
  height: 500px;
}
.sale .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #CADBF1;
  opacity: unset;
}
.sale .swiper-pagination-bullet-active {
  background: #FFFFFF !important;
}
.sale__card {
  background: url("./imgs/salebg.png") center/cover;
  padding: 88px 0;
}
.sale__title {
  font-weight: bold;
  font-size: 96px;
  line-height: 117px;
  color: #FFFFFF;
}
.sale__subtitle {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.sale__btn {
  background: #DDCBB5;
  border-radius: 1px;
  padding: 19px 35px 21px;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: rgba(0, 0, 0, 0.7);
  border: none;
}

.catalog {
  padding: 0 0 70px;
}
.catalog .tableware {
  padding: 0 70px 70px;
  position: relative;
}
.catalog .tableware .swiper-button-prev {
  position: absolute;
  left: 1%;
  top: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9D8675;
  box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);
}
.catalog .tableware .swiper-button-prev::after {
  color: white;
  font-size: 24px;
}
.catalog .tableware .swiper-button-next {
  position: absolute;
  right: 1%;
  top: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9D8675;
  box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);
}
.catalog .tableware .swiper-button-next::after {
  color: white;
  font-size: 24px;
}
.catalog .accessories {
  padding: 0 70px 70px;
  position: relative;
}
.catalog .accessories .swiper-button-prev {
  position: absolute;
  left: 1%;
  top: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9D8675;
  box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);
}
.catalog .accessories .swiper-button-prev::after {
  color: white;
  font-size: 24px;
}
.catalog .accessories .swiper-button-next {
  position: absolute;
  right: 1%;
  top: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9D8675;
  box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);
}
.catalog .accessories .swiper-button-next::after {
  color: white;
  font-size: 24px;
}
.catalog .swiper {
  position: static;
}
.catalog__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: rgba(5, 5, 5, 0.8);
  margin-bottom: 40px;
}
.catalog__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 14px 0 30px;
  background: rgba(202, 219, 241, 0.25);
}
.catalog__card img {
  width: 94.4%;
}
.catalog__card_title {
  height: 48px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
}
.catalog__card_btn {
  background: #DDCBB5;
  border-radius: 1px;
  padding: 17px 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
  border: none;
}

.news {
  padding: 0 0 70px;
}
.news__title {
  margin-bottom: 40px;
  text-align: center;
}
.news__list {
  padding: 70px 0;
  background: rgba(202, 219, 241, 0.15);
}
.news__card {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.news__card img {
  width: 40%;
}
.news__card_title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}
.news__card_subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  text-transform: lowercase;
  color: #000000;
  margin: 20px 0;
}
.news__card_more {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.65);
}
.news .margin {
  margin: 50px 0 70px;
}
.news__more {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news__more p {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.55);
  padding: 0 0 8px;
}
.news__more img, .news__more p {
  cursor: pointer;
}

.text {
  padding: 0 0 70px;
  position: relative;
}
.text__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: capitalize;
  color: #000000;
  margin: 0 0 50px;
}
.text__subtitle {
  font-size: 20px;
  line-height: 40px;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1400px) {
  .homeMain .container {
    max-width: 1200px;
  }
  .homeMain .first-screen__card_title {
    font-size: 48px;
  }
  .homeMain .first-screen__card_subtitle {
    font-size: 24px;
  }
  .homeMain .first-screen__card_content {
    width: 500px;
    height: 450px;
  }
  .homeMain .first-screen__card_btns .btn {
    padding: 15px 25px;
  }
  .homeMain .about__title {
    font-size: 42px;
    padding: 0 0 25px;
    margin: 0 0 40px;
  }
  .homeMain .about__subtitle {
    font-size: 20px;
    margin: 0 0 40px;
  }
  .homeMain .about__more {
    font-size: 20px;
  }
  .homeMain .work__row {
    column-gap: 40px;
  }
  .homeMain .work__swiper {
    padding: 0 60px;
  }
  .homeMain .work__card {
    width: calc(50% - 20px);
    column-gap: 30px;
    align-items: center;
    padding: 15px;
  }
  .homeMain .work__card_title {
    font-size: 22px;
  }
  .homeMain .work__card_subtitle {
    font-size: 20px;
  }
  .homeMain .work__card_img {
    padding: 0 30px;
    width: 150px;
    height: 130px;
  }
  .homeMain .work__card_img img {
    width: 94px;
    height: 64px;
  }
  .homeMain .sale__title {
    font-size: 82px;
  }
  .homeMain .sale__subtitle {
    font-size: 42px;
  }
  .homeMain .sale__btn {
    font-size: 36px;
  }
  .homeMain .catalog__title {
    font-size: 42px;
  }
}
@media (max-width: 1200px) {
  .homeMain .container {
    max-width: 992px;
  }
  .homeMain .first-screen__card_title {
    font-size: 42px;
  }
  .homeMain .first-screen__card_subtitle {
    font-size: 22px;
  }
  .homeMain .first-screen__card_item {
    padding: 35px 0;
  }
  .homeMain .first-screen__card_content {
    width: 450px;
    height: 400px;
  }
  .homeMain .first-screen__card_btns .btn {
    font-size: 17px;
    padding: 12px 20px;
  }
  .homeMain .about__title {
    font-size: 36px;
  }
  .homeMain .about__subtitle {
    font-size: 19px;
  }
  .homeMain .about__content {
    width: 100%;
    margin: 0 0 50px;
  }
  .homeMain .about__img {
    position: static;
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  .homeMain .work__swiper {
    padding: 0 30px;
  }
  .homeMain .work__row {
    column-gap: 20px;
  }
  .homeMain .work__card {
    width: calc(50% - 10px);
    column-gap: 20px;
  }
  .homeMain .work__card_title {
    font-size: 20px;
  }
  .homeMain .work__card_img {
    width: 120px;
    height: 100px;
  }
  .homeMain .sale__title {
    font-size: 75px;
  }
  .homeMain .sale__subtitle {
    font-size: 36px;
  }
  .homeMain .sale__btn {
    font-size: 32px;
    padding: 19px 30px 21px;
  }
  .homeMain .catalog__title {
    font-size: 36px;
  }
  .homeMain .news__list {
    padding: 70px 0 0;
  }
  .homeMain .news__card_title {
    font-size: 28px;
  }
  .homeMain .news__card_subtitle {
    font-size: 18px;
  }
  .homeMain .news__more {
    font-size: 20px;
  }
  .homeMain .news__more img {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 992px) {
  .homeMain .container {
    max-width: 768px;
  }
  .homeMain .first-screen .swiper-pagination {
    display: none;
  }
  .homeMain .first-screen__card_title {
    font-size: 36px;
  }
  .homeMain .first-screen__card_subtitle {
    font-size: 19px;
  }
  .homeMain .first-screen__card_content {
    width: 350px;
    height: 300px;
    padding: 10px;
  }
  .homeMain .first-screen__card_btns .btn {
    font-size: 16px;
    padding: 12px 13px;
  }
  .homeMain .about__content {
    padding: 120px 0 0;
  }
  .homeMain .about__title {
    font-size: 36px;
  }
  .homeMain .work__row {
    justify-content: center;
  }
  .homeMain .work__card {
    width: 70%;
  }
  .homeMain .sale__title {
    font-size: 65px;
  }
  .homeMain .sale__subtitle {
    font-size: 32px;
  }
  .homeMain .sale__btn {
    font-size: 28px;
    padding: 17px 25px 19px;
  }
}
@media (max-width: 768px) {
  .homeMain .container {
    max-width: 576px;
  }
  .homeMain .first-screen {
    padding: 30px 0;
  }
  .homeMain .first-screen__row {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
  }
  .homeMain .first-screen__card {
    width: 70%;
  }
  .homeMain .about__title {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 30px;
  }
  .homeMain .about__subtitle {
    font-size: 17px;
  }
  .homeMain .about__more {
    font-size: 18px;
  }
  .homeMain .about__img {
    width: 70%;
  }
  .homeMain .sale__card {
    padding: 50px 0;
  }
  .homeMain .catalog .tableware, .homeMain .catalog .accessories {
    display: none;
    padding: 0;
  }
  .homeMain .catalog .adaptive {
    margin-bottom: 10px;
    display: block;
  }
  .homeMain .news {
    padding: 0 0 30px;
  }
  .homeMain .news__title {
    margin-bottom: 10px;
  }
  .homeMain .news__card {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
  .homeMain .news__card_title {
    font-size: 22px;
  }
  .homeMain .news__card_subtitle {
    font-size: 17px;
  }
  .homeMain .news__card img {
    width: 60%;
  }
  .homeMain .news__card_more {
    font-size: 17px;
  }
  .homeMain .news__more p {
    font-size: 18px;
  }
  .homeMain .news__more img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 576px) {
  .homeMain section:not(:nth-child(4)) {
    padding: 50px 20px;
  }
  .homeMain .first-screen__card {
    width: 100%;
  }
  .homeMain .work__card {
    width: 85%;
  }
  .homeMain .work {
    padding: 0 20px 150px !important;
  }
  .homeMain .work__card {
    width: 100%;
  }
  .homeMain .work .swiper-button-prev {
    display: none;
  }
  .homeMain .work .swiper-button-next {
    display: none;
  }
  .homeMain .sale {
    height: 300px;
    position: relative;
    margin: 0 0 50px;
  }
  .homeMain .sale .swiper {
    position: static;
  }
  .homeMain .sale__title {
    font-size: 48px;
    line-height: 130%;
  }
  .homeMain .sale__subtitle {
    font-size: 26px;
    line-height: 130%;
  }
  .homeMain .sale__btn {
    font-size: 22px;
    padding: 10px 20px;
    line-height: 130%;
  }
  .homeMain .catalog__title {
    font-size: 28px;
  }
  .homeMain .catalog__card {
    row-gap: 20px;
  }
  .homeMain .catalog__card_title {
    font-size: 16px;
  }
  .homeMain .catalog__card_btn {
    font-size: 16px;
    padding: 15px;
  }
}
@media (max-width: 425px) {
  .homeMain section:not(:nth-child(4)) {
    padding: 25px 10px;
  }
  .homeMain .first-screen__card {
    padding: 0 20px;
  }
  .homeMain .first-screen__card_content {
    width: 100%;
  }
  .homeMain .first-screen__card_title {
    font-size: 28px;
    line-height: 50px;
    margin: 0;
  }
  .homeMain .first-screen__card_subtitle {
    font-size: 17px;
    margin: 0 0 30px;
  }
  .homeMain .first-screen__card_btns .btn {
    font-size: 14px;
    padding: 10px;
  }
  .homeMain .about__title {
    font-size: 24px;
  }
  .homeMain .about__subtitle {
    font-size: 16px;
    line-height: 30px;
  }
  .homeMain .about__more {
    font-size: 17px;
  }
  .homeMain .work__title {
    font-size: 26px;
  }
  .homeMain .work__row {
    width: 100%;
  }
  .homeMain .work__card {
    flex-direction: column-reverse;
  }
  .homeMain .work__card_title {
    text-align: center;
  }
  .homeMain .work__card_title::before {
    left: 50%;
    transform: translate(-50%);
  }
  .homeMain .work__card_subtitle {
    font-size: 17px;
    margin: 0 0 10px;
  }
  .homeMain .text__subtitle {
    font-size: 16px;
    line-height: 28px;
  }
}

/*# sourceMappingURL=home.css.map */
