.first-screen {
  .swiper-pagination {
    bottom: 20% !important;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    opacity: unset;
  }

  .swiper-pagination-bullet-active {
    background: #9D8675 !important;
  }

  &__row {
    display: flex;
  }

  &__left {
    background: url("./imgs/firstscreen-left.svg") center/cover;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__right {
    background: url("./imgs/firstscreen-right.svg") center/cover;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__card {
    position: relative;
    width: 50%;

    &_item {
      padding: 45px 0;
    }

    &_content {
      margin: 0 auto;
      height: 504px;
      width: 65.69343065693431%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(221, 203, 181, 0.5);
      backdrop-filter: blur(20px);
      border-radius: 0.825417px;
    }

    &_title {
      font-weight: bold;
      font-size: 59.43px;
      line-height: 72px;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 20px;
      text-align: center;
    }

    &_subtitle {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.7);
      text-align: center;
      margin-bottom: 50px;
    }

    &_btns {
      display: flex;

      & .btn {
        background: transparent;
        padding: 15px 30px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.7);
      }

      &-left {
        border: 2px solid #9D8675;
        border-radius: 0.825417px;
      }

      &-right {
        border: none;
      }
    }
  }
}

.about {
  padding: 10px 10px 70px;

  &__leaves {
    width: 18.64583333333333%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__box {
    position: relative;
  }

  &__content {
    padding: 200px 0 0;
    width: 49.6%;
  }

  &__img {
    width: 42.5%;
    position: absolute;
    right: 0;
    top: 37.15909090909091%;
  }

  &__btn {
    position: absolute;
    top: 13%;
    right: 0;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 0 30px;
    position: relative;
    margin: 0 0 50px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: black;
      height: 2px;
      width: 13.67647058823529%;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    margin: 0 0 50px;
  }

  &__more {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.85);
  }
}

.work {
  padding: 0 0 70px;

  & .container {
    position: relative;
  }

  &__swiper {
    position: relative;
    padding: 0 70px;
  }

  &__img {
    position: absolute;
    right: 0;
    transform: translateY(-25%);
    width: 5.572916666666667%;
  }

  .swiper {
    position: static;
  }

  .swiper-button-prev {
    position: absolute;
    left: 1%;
    top: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9D8675;
    box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);

    &::after {
      color: white;
      font-size: 24px;
    }
  }

  .swiper-button-next {
    position: absolute;
    right: 1%;
    top: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9D8675;
    box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);

    &::after {
      color: white;
      font-size: 24px;
    }
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 40px;
  }

  &__card {
    background: rgba(202, 219, 241, 0.15);
    border-radius: 1px;
    width: calc(50% - 35px);
    padding: 30px 15px 30px 30px;
    display: flex;
    align-items: center;
    column-gap: 40px;

    &_img {
      background: #BBD0BD;
      border-radius: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 174px;
      height: 160px;
      padding: 0 40px;
    }

    &_title {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      padding: 0 0 20px;
      margin: 0 0 20px;
      position: relative;

      &::before {
        content: '';
        background: #569E28;
        height: 4px;
        width: 87px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &_subtitle {
      height: 120px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.sale {
  height: 570px;
  padding: 0 0 79px;

  .adaptive {
    display: none;
  }

  & .swiper {
    height: 500px;
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: #CADBF1;
    opacity: unset;
  }

  .swiper-pagination-bullet-active {
    background: #FFFFFF !important;
  }

  &__card {
    background: url('./imgs/salebg.png') center/cover;
    padding: 88px 0;
  }

  &__title {
    font-weight: bold;
    font-size: 96px;
    line-height: 117px;
    color: #FFFFFF;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 50px;
  }

  &__btn {
    background: #DDCBB5;
    border-radius: 1px;
    padding: 19px 35px 21px;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: rgba(0, 0, 0, 0.7);
    border: none;
  }
}

.catalog {
  padding: 0 0 70px;

  .adaptive {
    display: none;
  }

  .tableware {
    padding: 0 70px 70px;
    position: relative;

    .swiper-button-prev {
      position: absolute;
      left: 1%;
      top: 50%;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #9D8675;
      box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);

      &::after {
        color: white;
        font-size: 24px;
      }
    }

    .swiper-button-next {
      position: absolute;
      right: 1%;
      top: 50%;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #9D8675;
      box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);

      &::after {
        color: white;
        font-size: 24px;
      }
    }
  }

  .accessories {
    padding: 0 70px 70px;
    position: relative;

    .swiper-button-prev {
      position: absolute;
      left: 1%;
      top: 50%;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #9D8675;
      box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);

      &::after {
        color: white;
        font-size: 24px;
      }
    }

    .swiper-button-next {
      position: absolute;
      right: 1%;
      top: 50%;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #9D8675;
      box-shadow: 0 3.90838px 3.90838px rgba(0, 0, 0, 0.05);

      &::after {
        color: white;
        font-size: 24px;
      }
    }
  }

  .swiper {
    position: static;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: rgba(5, 5, 5, 0.8);
    margin-bottom: 40px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 14px 0 30px;
    background: rgba(202, 219, 241, 0.25);

    & img {
      width: 94.4%;
    }

    &_title {
      height: 48px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.7);
    }

    &_btn {
      background: #DDCBB5;
      border-radius: 1px;
      padding: 17px 24px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.8);
      border: none;
    }
  }
}

.news {
  padding: 0 0 70px;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__list {
    padding: 70px 0;
    background: rgba(202, 219, 241, 0.15);
  }

  &__card {
    display: flex;
    align-items: center;
    column-gap: 50px;

    & img {
      width: 40%;
    }

    &_title {
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
      color: #000000;
    }

    &_subtitle {
      font-weight: 300;
      font-size: 20px;
      line-height: 35px;
      text-transform: lowercase;
      color: #000000;
      margin: 20px 0;
    }

    &_more {
      font-weight: bold;
      font-size: 22px;
      cursor: pointer;
      line-height: 28px;
      text-decoration-line: underline;
      color: rgba(0, 0, 0, 0.65);
      transition: 0.3s;

    }

    &_more:hover {
      color: #FF5555;
      transition: 0.3s;
    }
  }

  .margin {
    margin: 50px 0 70px;
  }

  &__more {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      text-decoration-line: underline;
      color: rgba(0, 0, 0, 0.55);
      padding: 0 0 8px;

      &:hover {
        color: #FF5555;
        transition: 0.3s;
      }
    }

    & img, p {
      cursor: pointer;
    }
  }
}

.homeForm {
  .container {
    width: 100%;
  }

  &__box {
    background: #BBD0BD;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__content {
    padding: 0 0 0 100px;

    form {
      display: flex;
      flex-direction: column;

      .ForminputsAndBtn {
        display: flex;
        align-items: center;
        column-gap: 25px;
      }
    }
  }

  &__title {
    font-size: 48px;
    line-height: 65px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0 0 50px;
  }

  &__btn {
    background: #569E28;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
    border: none;
  }

  &__checkbox {
    margin: 30px 0 0;
    display: flex;
    align-items: center;
    column-gap: 10px;

    input {
      width: 20px;
      height: 20px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #FFFFFF;
    }
  }

  &__input {
    background: white;
    padding: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    border: none;
    width: 238px;
    color: rgba(0, 0, 0, 0.65);

    &::placeholder {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

.text {
  padding: 100px 0 70px;
  position: relative;

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-transform: capitalize;
    color: #000000;
    margin: 0 0 50px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 40px;
    text-transform: lowercase;
    color: rgba(0, 0, 0, 0.7);
  }
}


@media (max-width: 1600px) {
  .homeMain {
    .container {
      max-width: 1400px;
    }

    .first-screen {
      &__card {
        &_content {
          height: 450px;
          width: 72%;
        }

        &_title {
          font-size: 50px;
        }

        &_subtitle {
          font-size: 25px;
        }
      }
    }

    .about {
      &__title {
        font-size: 44px;
        line-height: 130%;
      }

      &__subtitle {
        font-size: 21px;
      }

      &__more {
        font-size: 21px;
      }
    }

    .work {
      &__swiper {
        padding: 0 50px;
      }

      .swiper-button-prev {
        left: 0;
      }

      .swiper-button-next {
        right: 0;
      }
      &__card {
        padding: 20px 10px 20px 20px;
        &_title {
          margin: 0 0 5px;
          padding: 0 0 10px;
        }
        &_subtitle {
          font-size: 19px;
        }
      }
    }

    .sale {
      .swiper {
        height: 431px;
      }

      &__card {
        padding: 70px 0;
      }

      &__title {
        font-size: 72px;
        line-height: 90px;
        margin: 0 0 15px;
      }

      &__subtitle {
        font-size: 41px;
        line-height: 50px;
      }

      &__btn {
        font-size: 32px;
        padding: 18px 35px 19px;
      }
    }

    .catalog {
      &__title {
        font-size: 40px;
      }

      &__card {
        margin: 0 30px;
      }
    }


    .news {
      &__card {
        &_title {
          font-size: 28px;
        }

        &_subtitle {
          font-size: 19px;
        }

        &_more {
          font-size: 21px;
        }
      }

      &__more {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .homeForm__btn {
    width: calc((100% / 3) - (50px / 2));
    padding: 15px 5px;
  }
  .homeForm__input {
    width: calc((100% / 3) - (50px / 2));
  }
}

@media (max-width: 1400px) {
  .homeMain {
    .container {
      max-width: 1200px;
    }

    .first-screen {
      &__card {
        &_title {
          font-size: 48px;
        }

        &_subtitle {
          font-size: 24px;
        }

        &_content {
          width: 500px;
          height: 450px;
        }

        &_btns {
          .btn {
            padding: 15px 25px;
          }
        }
      }
    }

    .about {
      &__title {
        font-size: 42px;
        padding: 0 0 25px;
        margin: 0 0 40px;
      }

      &__subtitle {
        font-size: 20px;
        margin: 0 0 40px;
      }

      &__more {
        font-size: 20px;
      }
    }

    .work {
      &__row {
        column-gap: 40px;
      }

      &__swiper {
        padding: 0 60px;
      }

      &__card {
        width: calc(50% - 20px);
        column-gap: 20px;
        align-items: center;
        padding: 15px;

        &_title {
          font-size: 22px;
          margin: 0 0 10px;
          padding: 0 0 10px;
        }

        &_subtitle {
          font-size: 18px;
          line-height: 22px;
        }

        &_img {
          padding: 0 30px;
          width: 120px;
          height: 110px;

          & img {
            width: 94px;
            height: 64px;
          }
        }
      }
    }

    .sale {
      &__title {
        font-size: 82px;
      }

      &__subtitle {
        font-size: 42px;
      }

      &__btn {
        font-size: 36px;
      }
    }

  }
}

@media (max-width: 1200px) {
  .homeMain {
    .container {
      max-width: 992px;
    }

    .first-screen {
      &__card {
        &_title {
          font-size: 42px;
        }

        &_subtitle {
          font-size: 22px;
        }

        &_item {
          padding: 35px 0;
        }

        &_content {
          width: 450px;
          height: 400px;
        }

        &_btns {
          .btn {
            font-size: 17px;
            padding: 12px 20px;
          }
        }
      }
    }

    .about {
      &__title {
        font-size: 36px;
      }

      &__subtitle {
        font-size: 19px;
      }

      &__content {
        width: 100%;
        margin: 0 0 50px;
      }

      &__img {
        position: static;
        width: 50%;
        display: block;
        margin: 0 auto;
      }
    }

    .work {
      &__swiper {
        padding: 0 30px;
      }

      &__row {
        column-gap: 20px;
      }

      &__card {
        width: calc(50% - 10px);
        column-gap: 20px;

        &_title {
          font-size: 20px;
        }
        &_subtitle {
          font-size: 17px;

        }

        &_img {
          width: 100px;
          height: 90px;
          img {
            width: 80px;
            height: 60px;
          }
        }
      }
    }

    .sale {


      .sale {
        &__title {
          font-size: 65px;
        }

        &__subtitle {
          font-size: 32px;
        }

        &__btn {
          font-size: 28px;
          padding: 17px 25px 19px;
        }
      }
    }

    .catalog {
      &__title {
        font-size: 36px;
      }

      &__card {
        margin: 0;
      }
    }


    .news {
      &__list {
        padding: 70px 0 0;
      }

      &__card {
        &_title {
          font-size: 28px;
        }

        &_subtitle {
          font-size: 18px;
        }
      }

      &__more {
        font-size: 20px;

        & img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .homeMain .catalog__title {
    margin-top: 30px;
  }
  .sale {
    height: 400px;
  }
  .sale .swiper {
    height: 400px !important;
  }
  .homeMain {
    .container {
      max-width: 768px;
    }

    .first-screen {
      .swiper-pagination {
        display: none;
      }

      &__card {
        &_title {
          font-size: 36px;
        }

        &_subtitle {
          font-size: 19px;
        }

        &_content {
          width: 350px;
          height: 300px;
          padding: 10px;
        }

        &_btns {
          .btn {
            font-size: 16px;
            padding: 12px 13px;
          }
        }
      }
    }

    .about {
      &__content {
        padding: 120px 0 0;
      }

      &__title {
        font-size: 36px;
      }
    }

    .work {
      &__swiper {
        .swiper {
          height: 1050px;
        }
      }
      &__row {
        justify-content: center;
      }

      &__card {
        width: 90%;
        &_subtitle {
          height: auto;
        }
      }
    }

    .sale {
      height: 420px;

      .swiper {
        height: 348px;
      }

      .sale__title {
        font-size: 55px;
        line-height: 60px;
      }

      .sale__subtitle {
        font-size: 30px;
        line-height: 35px;
        margin: 0 0 30px;
      }

      &__btn {
        line-height: 32px;
      }
    }

  }
}

@media (max-width: 768px) {

  .sale {
    height: 300px;
  }
  .sale .swiper {
    height: 300px !important;
  }

  .homeMain {
    .container {
      max-width: 576px;
    }

    .first-screen {
      padding: 30px 0;

      &__row {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;
      }

      &__card {
        width: 70%;
      }
    }

    .about {
      &__title {
        font-size: 32px;
        line-height: 40px;
        margin: 0 0 30px;
      }

      &__subtitle {
        font-size: 17px;
      }

      &__more {
        font-size: 18px;
      }

      &__img {
        width: 70%;
      }
    }

    .sale {
      height: 350px;

      &__card {
        padding: 50px 0;
      }

      .swiper {
        height: 299px;

        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
        }
      }

      .sale__title {
        font-size: 48px;
        line-height: 55px;
      }

      .sale__subtitle {
        font-size: 30px;
        line-height: 35px;
        margin: 0 0 30px;
      }

      &__btn {
        line-height: 28px;
        font-size: 24px;
      }
    }

    .catalog {
      .tableware, .accessories {
        display: none;
        padding: 0;
      }

      .adaptive {
        margin-bottom: 10px;
        display: block;
      }
    }


    .news {
      padding: 0 0 30px;

      &__title {
        margin-bottom: 10px;
      }

      &__card {
        flex-direction: column-reverse;
        row-gap: 30px;

        &_title {
          font-size: 22px;
        }

        &_subtitle {
          font-size: 17px;
        }

        & img {
          width: 60%;
        }

        &_more {
          font-size: 17px;
        }
      }

      &__more {
        p {
          font-size: 18px;
        }

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .homeMain {
    section:not(:nth-child(4)) {
      padding: 50px 20px;
    }

    .first-screen {
      &__card {
        width: 100%;
      }
    }

    .work__card {
      width: 85%;
    }

    .work {


      &__card {
        width: 100%;
        &_title {
          font-size: 18px;
          line-height: 25px;
        }
        &_subtitle {
          font-size: 15px;
          line-height: 19px;
        }
      }
      .swiper {
        height: 900px;
      }

      .swiper-button-prev {
      }

      .swiper-button-next {
      }
    }

    .sale {
      height: 300px;
      position: relative;
      margin: 0 0 50px;

      .swiper {
        position: static;

        .swiper-pagination {
          z-index: 2;
        }

        .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
        }
      }

      .sale__title {
        font-size: 48px;
        line-height: 130%;
      }

      .sale__subtitle {
        font-size: 26px;
        line-height: 130%;
      }

      .sale__btn {
        font-size: 22px;
        padding: 10px 20px;
        line-height: 130%;
      }
    }

    .catalog {
      &__title {
        font-size: 28px;
      }

      &__card {
        row-gap: 20px;

        &_title {
          font-size: 16px;
        }

        &_btn {
          font-size: 16px;
          padding: 15px;
        }
      }
    }

  }

}

@media (max-width: 425px) {
  .homeMain {
    section:not(:nth-child(4)) {
      padding: 25px 10px;
    }

    .first-screen {
      &__card {
        padding: 0 20px;
      }

      &__card {
        &_content {
          width: 100%;
        }

        &_title {
          font-size: 28px;
          line-height: 50px;
          margin: 0;
        }

        &_subtitle {
          font-size: 17px;
          margin: 0 0 30px;
        }

        &_btns {
          .btn {
            font-size: 14px;
            padding: 10px;
          }
        }
      }
    }

    .about {
      &__title {
        font-size: 24px;
      }

      &__subtitle {
        font-size: 16px;
        line-height: 30px;
      }

      &__more {
        font-size: 17px;
      }
    }

    .work {
      &__title {
        font-size: 26px;
      }

      &__row {
        width: 100%;
      }
      .swiper {
        height: auto;
      }

      &__card {
        flex-direction: column-reverse;

        &_title {
          text-align: center;
          font-size: 17px;

          &::before {
            left: 50%;
            transform: translate(-50%);
          }
        }

        &_subtitle {
          font-size: 16px;
          margin: 0 0 20px;
        }
      }
    }


    .sale {
      height: 269.8px;

      &__card {
        padding: 40px 15px;
      }

      .swiper {
        height: 269.8px;
      }
    }

    .catalog {
      &__card {
        padding: 14px 0 15px;

        &_title {
          font-size: 14px;
          line-height: 18px;
        }

        &_btn {
          font-size: 14px;
          line-height: 16px;
          padding: 15px 5px;
        }
      }
    }

    .news {
      .margin {
        margin: 40px 0 30px;
      }

      &__list {
        padding: 30px 0 0;
      }

      &__card {
        img {
          width: 100%;
        }
      }
    }

    .text {
      &__title {
        margin: 0 0 25px;
      }

      &__subtitle {
        font-size: 16px;
        line-height: 28px;
      }
    }

    .homeForm {
      &__checkbox {
        input {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .homeForm .margin-form {
    margin: 0;
  }
  .ForminputsAndBtn {
    flex-flow: row wrap;
    row-gap: 25px;
  }
  .homeForm__title {
    margin-bottom: 30px;
  }
  .homeForm__content {
    padding: 0 0 0 30px;
  }
}

@media (max-width: 1400px) {
  .homeForm__content {
    padding: 50px;
  }
  .homeForm {
    img {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .homeForm__checkbox p {
    font-size: 16px;
  }
  .homeForm__btn {
    font-size: 20px;
  }
  .homeForm__checkbox input {
    width: auto;
    height: auto;
  }
  .homeForm__title {
    font-size: 32px;
    line-height: normal;
  }

  .homeForm__input {
    width: 100%;
  }
  .homeForm__btn {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .homeForm__btn {
    font-size: 18px;
  }
  .homeForm__title {
    font-size: 28px;
  }
  .homeForm__checkbox p {
    font-size: 14px;
  }
  .homeForm__content {
    padding: 30px;
  }
}