@media (max-width: 1600px) {
  .Vacancy {
    .container {
      max-width: 1400px;
    }
  }
  .Vacancy__twoBlocks {
    row-gap: 10px;

    &_left {
      width: 50%;
    }

    &_right {
      width: 50%;
    }
  }
}

@media (max-width: 1200px) {
  .Vacancy {
    padding: 30px 10px;
  }
  .Vacancy .section__title {
    margin: 30px 0;
  }
  .Vacancy__twoBlocks_left {
    row-gap: 20px;

    &-info {
      font-size: 24px;
    }
  }
}

@media (max-width: 800px) {
  .Vacancy .section__title {
    margin: 20px 0;
  }
  .Vacancy__twoBlocks_left {
    row-gap: 20px;

    &-info {
      font-size: 22px;
    }
  }


}

@media (max-width: 768px) {
  .Vacancy__twoBlocks {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    &_left {
      width: 100%;
    }
    &_right {
      width: 80%;
    }
  }
}

@media (max-width: 600px) {
  .Vacancy .section__title {
    margin: 10px 0;
  }
  .Vacancy__twoBlocks_left {
    padding-right: 0;

    &-info {
      font-size: 22px;
    }
  }
}

@media (max-width: 500px) {
  .Vacancy__twoBlocks_left-info {
    font-size: 18px;
    line-height: 30px;
  }
  .Vacancy__twoBlocks_left-btn {
    padding: 10px 30px;
  }

  .Vacancy__card_vacancyInfo {
    row-gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 425px) {
  .Vacancy__card {
    &-block {
      padding: 15px 25px;
      align-items: center;
    }

    h2 {
      font-size: 20px;
    }

    .circleDiv {
      width: 10px !important;
      height: 10px !important;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

}