.history{
  padding: 40px 10px;
  position: relative;
  &__button {
    position: absolute;
    top: 650px;
    right: 0;
  }
  &__bag {
    position: absolute;
    top: 1400px;
    right: 0;
  }
  &__main{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    &-title{
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #393939;
    }
    &-titleHistory{
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 59px;
      color: #45423F;
    }
    &-block{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;
      column-gap: 50px;
      margin-bottom: 30px;
      &_right{
        width: calc(50% - 25px);
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
        }
      }
      &_left{
        width: calc(50% - 25px);
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;
      }
      &_titleBlock{
        text-align: start;
        &-title{
          font-family: Montserrat, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          line-height: 44px;
          color: #9D8675;
        }
        &-info{
          font-family: Montserrat, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 35px;
          color: #45423F;
        }
      }
    }
  }
}