.cartBack {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: start linear 0.6s;
  cursor: pointer;
}

.cartScreen {
  padding: 70px;
  width: 1578px;
  height: 899px;
  background-color: #FFFFFF;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  animation: startCart 0.6s linear;
}
.cartScreen__item {
  width: 100%;
  border: 1px solid #DDCBB5;
  box-sizing: border-box;
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.cartScreen__item-sumInfo {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 17px;
}
.cartScreen__item-function {
  justify-content: space-between;
  padding: 17px;
  display: flex;
  align-items: center;
  width: 184px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #DDCBB5;
  box-sizing: border-box;
}
.cartScreen__item-numberInfo {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 17px;
}
.cartScreen__item-price {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: "liga" off, "kern" off;
  color: #3E3E3E;
}
.cartScreen__item-name {
  font-family: Montserrat, sans-serif;
  margin-bottom: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: "liga" off, "kern" off;
  color: #9D8675;
}
.cartScreen__item img {
  width: 120px;
  height: 120px;
  border: 1px solid #DDCBB5;
}
.cartScreen__itemsRow {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow-y: auto;
  max-height: 520px;
  margin-top: 70px;
}
.cartScreen-close {
  cursor: pointer;
}
.cartScreen-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #45423F;
}
.cartScreen__closeAndTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartScreen__form {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartScreen__form-inputs {
  display: flex;
  column-gap: 40px;
  align-items: center;
}
.cartScreen__form-inputs input {
  padding: 17px 30px;
  width: 360px;
  height: 60px;
  border: 1px solid #DDCBB5;
  box-sizing: border-box;
  border-radius: 1px;
}
.cartScreen__form-inputs input::placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #727272;
  opacity: 0.5;
}
.cartScreen__form-sumAndBtn {
  display: flex;
  column-gap: 40px;
  align-items: center;
}
.cartScreen__form-sumAndBtn_btn {
  border: none;
  padding: 17px 90px;
  background: #569E28;
  border-radius: 1px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.cartScreen__form-sumAndBtn_summ {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  font-feature-settings: "liga" off, "kern" off;
  color: #3E3E3E;
}

@keyframes startCart {
  0% {
    left: 50%;
    top: -150%;
  }
  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes start {
  0% {
    left: 0;
    top: -150%;
  }
  100% {
    left: 0;
    top: 0;
  }
}

/*# sourceMappingURL=CartScreen.css.map */
