.headerContainer {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;

  &__up {
    background-color: #9D8675;

    &-title {
      font-size: 20px;
      transition: 0.5s;
    }

    &-navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-right {
      display: flex;
      align-items: center;
      padding: 7px 0;
      column-gap: 28px;

      &_telegram {
        display: flex;
        align-items: flex-end;
        column-gap: 12px;
        font-size: 20px;
      }

      &_call {
        display: flex;
        align-items: flex-end;
        column-gap: 12px;
        font-size: 20px;
        text-transform: uppercase;

        & a {
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }

      &_btn {
        display: flex;
        align-items: center;
      }

      &_button {
        border: 1px solid #CADBF1;
        background-color: transparent;
        padding: 12px 10px;

        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }
  }

  &__down {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

    &-cart{
      cursor: pointer;
    }

    &-BurgerButton {
      cursor: pointer;
    }

    &-navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-left {
      display: flex;
      column-gap: 50px;
    }

    &-right {
      display: flex;
      column-gap: 60px;
    }

    &-search {
      display: flex;
      column-gap: 12px;
      padding: 18px 0;
      position: relative;
      cursor: pointer;
      transition: 0.5s;

      &-inp {
        display: none;
        font-family: Roboto, sans-serif;
        border: none;
        outline: none;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        animation: linear 0.5s start;
      }

      &-inp::placeholder {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
      }

      &-title {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
      }
    }

    &-search:hover {
      .header__down-search-inp {
        display: flex;
      }

      .header__down-search-title {
        font-size: 0;
        transition: 0.5s;
      }

    }


    &-search:before {
      position: absolute;
      content: "";
      height: 100%;
      border: 0.5px solid rgba(0, 0, 0, 0.2);
      top: 0;
      left: -30px;
    }

    &-language {
      display: flex;
      align-items: center;
      position: relative;
      column-gap: 10px;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.25);
      transition: 0.3s;

      .activeLang {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000000;
        transition: 0.3s;
      }

      &-checkbox {
        cursor: pointer;
        position: relative;
        -webkit-appearance: none;
        width: 50px;
        height: 27.59px;
        background: #FFFFFF;
        border: 0.862069px solid #DDCBB5;
        box-sizing: border-box;
        border-radius: 86.2069px;
        padding: 5px;

        display: flex;
        align-items: center;
        transition: 0.5s;
      }

      &-checkbox::before {
        content: "";
        position: absolute;
        width: 20.69px;
        height: 20.69px;
        background: #569E28;
        border-radius: 50%;
        left: 5px;
        transition: 0.5s;
      }

      &-checkbox:checked::before {
        left: 23px;
        transition: 0.5s;
      }
    }

    &-language:before {
      position: absolute;
      content: "";
      height: 100%;
      border: 0.5px solid rgba(0, 0, 0, 0.2);
      top: 0;
      left: -30px;
    }

    &-cart {
      display: flex;
      align-items: center;
      position: relative;
      column-gap: 12px;
    }

    &-cart:before {
      position: absolute;
      content: "";
      height: 100%;
      border: 0.5px solid rgba(0, 0, 0, 0.2);
      top: 0;
      left: -30px;
    }
  }

}

@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}