.geography {
  padding: 130px 0 70px;
  &__img {
    margin: 70px 0 0;
    width: 100%;
    & img {
      width: 100%;
    }
  }
}

@media (max-width: 1600px) {
  .geography {
    .container {
      max-width: 1400px;
    }
  }
}
@media (max-width: 1400px) {
  .geography {
    .container {
      max-width: 1200px;
    }
  }
}
@media (max-width: 1200px) {
  .geography {
    .container {
      max-width: 996px;
    }
  }
}
@media (max-width: 996px) {
  .geography {
    .container {
      max-width: 768px;
    }
  }
}
@media (max-width: 768px) {
  .geography {
    .container {
      max-width: 576px;
    }
  }
}
@media (max-width: 576px) {
  .geography {
    &__img {
      margin: 40px 0 0;
    }
    .container {
      max-width: 375px;
    }
  }
}