.footer {
  background: #CADBF1;
  padding: 40px 0 30px;
  a{
    cursor: pointer;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px;
    margin: 0 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  &__descr {
    font-size: 18px;
    line-height: 26px;
    color: #3E3E3E;
    margin: 0 0 20px;
  }

  &__btn {
    background: #3965AC;
    border-radius: 1px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 15px 79px;
  }

  &__form {
    display: flex;
    column-gap: 20px;

    & input {
      width: 508px;
      height: 62px;
      padding: 15px 0 15px 20px;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.65);

      &::placeholder {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.65);
      }
    }

    & button {
      width: 266px;
      height: 62px;
      background: #DDCBB5;
      border-radius: 1px;
      border: none;
      padding: 14px 50px 15px;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  &__bot {
    display: flex;
    align-items: flex-end;
    column-gap: 40px;
    margin: 0 0 40px;

    &_left {
      display: flex;
      align-items: center;
      column-gap: 22px;

      & a {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #3F3F3F;
      }
    }

    &_right {
      display: flex;
      align-items: center;
      column-gap: 16px;

      & p {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #3F3F3F;
      }

      & a {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #3F3F3F;
      }

      &-row {
        display: flex;
        align-items: center;
        column-gap: 6px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 15px;

    & a {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #3F3F3F;
    }

    &_item {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
  }

}


.sectionBeforeFooter{
  background-color: #FFFFFF;
  .headerContainer {
    position: relative;
  }
  &__btnRow{
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    right: 0;
    top: -130px;
    background: #FF5555;
    border-radius: 1px;
    padding: 23px 27px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    border: none;
  }
}