.buttonsRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;

  &-transperentBtn {
    font-family: Montserrat, sans-serif;
    padding: 18px 26px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #000000;
  }

  &-greenBtn {
    border: none;
    background-color: #569E28;
    padding: 18px 26px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
  }
}

@media (max-width: 996px) {
  .buttonsRow-transperentBtn {
    font-size: 17px;
    padding: 17px 23px;
  }
  .buttonsRow-greenBtn {
    font-size: 17px;
    padding: 17px 23px;
  }
}

@media (max-width: 768px) {
  .buttonsRow-transperentBtn {
    font-size: 16px;
    padding: 13px 18px;
  }
  .buttonsRow-greenBtn {
    font-size: 16px;
    padding: 13px 18px;
  }
}