.contractProduction {
  background: #FFFFFF;
  padding: 40px 0;

  &__route {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #393939;

  }

  &__row {
    display: flex;
    flex-direction: column;
  }

  .section__title {
    margin: 70px 0;
  }

  &__twoBlocks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

    &-left {
      padding: 50px;
      width: 50%;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 50px;
      color: #000000;

    }

    &-right {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }

  &__orderForm {
    width: 100%;
    background: #BBD0BD;
    border-radius: 1px;
    display: flex;
    justify-content: space-between;

    &_inputs {
      display: flex;
      column-gap: 25px;

      button {
        padding: 15px 65px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: rgba(255, 255, 255, 0.8);
        background: #569E28;
        border-radius: 1px;
        border: none;

      }

      input {
        border: none;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.65);
        padding: 15px;

      }

      input::placeholder {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.65);

      }
    }

    &_left {
      padding: 50px 90px;
      display: flex;
      flex-direction: column;
      row-gap: 25px;

      h2 {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        text-transform: capitalize;
        color: #FFFFFF;
      }

      h4 {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;

      }

    }

    &_checkbox {
      display: flex;
      column-gap: 10px;
      align-items: center;

      input {
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border-radius: 1px;
      }

      span {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
      }
    }

  }

}