.aboutCompanyHome {
  padding: 130px 0 70px;
}
.aboutCompanyHome__row {
  margin: 70px 0;
  display: flex;
  column-gap: 50px;
}
.aboutCompanyHome__card_title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 40px;
}
.aboutCompanyHome__card_subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
}
.aboutCompanyHome__card_subtitle-margin {
  margin: 20px 0 50px;
}
.aboutCompanyHome__card_descr {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  padding: 0 0 0 30px;
}
.aboutCompanyHome__card_descr::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #569E28;
  position: absolute;
  transform: translateY(75%);
  left: 0;
  top: 0;
  border-radius: 50%;
}
.aboutCompanyHome__card_descr-margin {
  margin: 30px 0;
}
.aboutCompanyHome__item {
  background: rgba(202, 219, 241, 0.15);
  border-radius: 1px;
  padding: 30px 40px;
}
.aboutCompanyHome__item_subtitle {
  padding: 0 0 0 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.8);
  border-left: 4px solid #569E28;
}

.aboutFacts {
  padding: 0 0 70px;
}
.aboutFacts h2 {
  text-align: center;
}
.aboutFacts__row {
  margin: 40px 0 70px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.aboutFacts__card {
  width: calc(25% - 15px);
  padding: 30px 30px 60px 30px;
  background: rgba(202, 219, 241, 0.15);
  border-radius: 1px;
}
.aboutFacts__card_title {
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
}
.aboutFacts__card_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #BBD0BD;
  border-radius: 1.11323px;
  width: 64px;
  height: 64px;
}
.aboutFacts__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 30px;
}
.aboutFacts__descr {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.8);
}

.cycle {
  position: relative;
  padding: 0 0 170px;
}
.cycle h2 {
  text-align: center;
  margin: 0 0 150px;
}
.cycle__img {
  position: absolute;
  top: 150px;
  left: 0;
}
.cycle__polygon {
  width: 480px;
  height: 480px;
  margin: 0 auto;
  border: 20px solid #CADBF195;
  border-radius: 50%;
  position: relative;
}
.cycle__polygon_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cycle__polygon_list {
  width: 120px;
  height: 120px;
  position: relative;
}
.cycle__polygon_card {
  position: absolute;
  width: 120px;
  height: 120px;
}
.cycle__polygon_card-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.cycle__polygon_card-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cycle__polygon_card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
}
.cycle__polygon .first {
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.cycle__polygon .first p {
  width: 317px;
  left: 50%;
  top: -20px;
  transform: translate(-45%, -100%);
}
.cycle__polygon .second {
  left: 95%;
  top: 25%;
  transform: translate(-50%, -50%);
}
.cycle__polygon .second p {
  width: 297px;
  right: -20px;
  top: 50%;
  transform: translate(100%, -50%);
}
.cycle__polygon .third {
  right: 95%;
  top: 25%;
  transform: translate(50%, -50%);
}
.cycle__polygon .third p {
  width: 221px;
  left: -20px;
  top: 50%;
  transform: translate(-100%, -50%);
}
.cycle__polygon .fourth {
  right: 95%;
  top: 75%;
  transform: translate(50%, -50%);
}
.cycle__polygon .fourth p {
  width: 217px;
  left: -20px;
  top: 50%;
  transform: translate(-100%, -50%);
}
.cycle__polygon .fifth {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.cycle__polygon .fifth p {
  width: 547px;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, 100%);
}
.cycle__polygon .sixth {
  left: 95%;
  top: 75%;
  transform: translate(-50%, -50%);
}
.cycle__polygon .sixth p {
  width: 254px;
  right: -20px;
  top: 50%;
  transform: translate(100%, -50%);
}

.aboutCompany {
  position: relative;
}
.aboutCompany__button {
  position: absolute;
  top: 700px;
  right: 0;
}
.aboutCompany__bag {
  position: absolute;
  top: 1500px;
  right: 0;
}

@media (max-width: 1400px) {
  .aboutCompanyHome .container {
    max-width: 1200px;
  }
  .aboutCompanyHome__card {
    width: 50%;
  }
  .aboutCompanyHome__card_title {
    font-size: 32px;
  }
  .aboutCompanyHome__card_subtitle {
    font-size: 28px;
  }
  .aboutCompanyHome__card_descr {
    font-size: 22px;
  }
  .aboutCompanyHome__img {
    width: 50%;
  }
  .aboutCompanyHome__img img {
    width: 100%;
  }
  .aboutCompanyHome__item_subtitle {
    font-size: 22px;
  }

  .aboutFacts .container {
    max-width: 1200px;
  }
  .aboutFacts__card_title {
    font-size: 18px;
  }
  .aboutFacts__subtitle {
    font-size: 22px;
  }
  .aboutFacts__descr {
    font-size: 22px;
  }

  .cycle .container {
    max-width: 1200px;
  }
  .cycle .section__title {
    font-size: 41px;
  }
  .cycle__img {
    width: 250px;
    height: 150px;
  }
  .cycle__polygon_card-title {
    font-size: 22px;
  }
  .cycle__polygon .fifth p {
    width: 501px;
  }
}
@media (max-width: 1200px) {
  .aboutCompanyHome .container {
    max-width: 992px;
  }
  .aboutCompanyHome__row {
    align-items: center;
    margin: 50px 0;
  }
  .aboutCompanyHome__card_subtitle {
    font-size: 24px;
  }
  .aboutCompanyHome__item_subtitle {
    font-size: 21px;
  }

  .aboutFacts .container {
    max-width: 992px;
  }
  .aboutFacts__card {
    width: calc(33.3333333333% - 13.3333333333px);
  }

  .cycle .container {
    max-width: 992px;
  }
  .cycle__polygon {
    width: 400px;
    height: 400px;
  }
  .cycle__polygon .first p {
    width: 255px;
  }
  .cycle__polygon .fifth p {
    width: 460px;
  }
  .cycle__polygon_card {
    width: 100px;
    height: 100px;
  }
  .cycle__polygon_card-title {
    font-size: 20px;
  }
  .cycle__polygon_list {
    width: 100px;
    height: 100px;
  }
  .cycle__polygon_logo {
    width: 180px;
  }
}
@media (max-width: 992px) {
  .aboutCompany .container {
    max-width: 768px;
  }

  .aboutFacts__row {
    justify-content: center;
    flex-wrap: wrap;
  }
  .aboutFacts__card {
    width: 40%;
  }

  .aboutCompanyHome__row {
    flex-direction: column;
    row-gap: 30px;
  }
  .aboutCompanyHome__card {
    width: 100%;
  }
  .aboutCompanyHome__card_title {
    font-size: 28px;
  }
  .aboutCompanyHome__card_subtitle {
    font-size: 22px;
  }
  .aboutCompanyHome__card_descr {
    font-size: 20px;
  }
  .aboutCompanyHome__item_subtitle {
    font-size: 20px;
  }

  .cycle__img {
    width: 200px;
    height: 120px;
  }
  .cycle .section__title {
    font-size: 32px;
    line-height: 45px;
  }
  .cycle__polygon {
    margin: 0 auto;
    width: 320px;
    height: 320px;
  }
  .cycle__polygon_list {
    width: 80px;
    height: 80px;
  }
  .cycle__polygon_logo {
    width: 120px;
  }
  .cycle__polygon_card-title {
    font-size: 17px;
    line-height: 25px;
  }
  .cycle__polygon_card-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cycle__polygon_card-item img {
    width: 50px;
    height: 40px;
  }
  .cycle__polygon .second {
    left: 100%;
  }
  .cycle__polygon .second p {
    right: -5px;
    width: 197px;
  }
  .cycle__polygon .third {
    right: 100%;
  }
  .cycle__polygon .third p {
    transform: translate(0);
    left: -170px;
  }
  .cycle__polygon .fourth {
    right: 100%;
  }
  .cycle__polygon .fourth p {
    transform: translate(0);
    left: -170px;
  }
  .cycle__polygon .fifth {
    transform: translate(-50%, 65%);
  }
  .cycle__polygon .fifth p {
    width: 420px;
  }
  .cycle__polygon .sixth {
    left: 100%;
  }
}

/*# sourceMappingURL=aboutCompany.css.map */
