.aboutCompanyHome {
  padding: 130px 0 70px;

  &__row {
    margin: 70px 0;
    display: flex;
    column-gap: 50px;
  }

  &__card {
    &_title {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: rgba(0, 0, 0, 0.8);
      margin: 0 0 40px;
    }

    &_subtitle {
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      color: #000000;

      &-margin {
        margin: 20px 0 50px;
      }
    }

    &_descr {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: rgba(0, 0, 0, 0.8);
      position: relative;
      padding: 0 0 0 30px;

      &::before {
        content: '';
        width: 10px;
        height: 10px;
        background: #569E28;
        position: absolute;
        transform: translateY(75%);
        left: 0;
        top: 0;
        border-radius: 50%;
      }

      &-margin {
        margin: 30px 0;
      }
    }
  }

  &__item {
    background: rgba(202, 219, 241, 0.15);
    border-radius: 1px;
    padding: 30px 40px;

    &_subtitle {
      padding: 0 0 0 30px;
      font-weight: 500;
      font-size: 24px;
      line-height: 40px;
      color: rgba(0, 0, 0, 0.8);
      border-left: 4px solid #569E28;
    }
  }
}

.aboutFacts {
  padding: 0 0 70px;

  & h2 {
    text-align: center;
  }

  &__row {
    margin: 40px 0 70px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }

  &__card {
    width: calc((100% / 4) - 15px);
    padding: 30px 30px 60px 30px;
    background: rgba(202, 219, 241, 0.15);
    border-radius: 1px;

    &_title {
      margin: 20px 0 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.8);
    }

    &_img {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #BBD0BD;
      border-radius: 1.11323px;
      width: 64px;
      height: 64px;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 0 30px;
  }

  &__descr {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.8);
  }
}

.cycle {
  position: relative;
  padding: 0 0 170px;

  & h2 {
    text-align: center;
    margin: 0 0 150px;
  }

  &__img {
    position: absolute;
    top: 150px;
    left: 0;
  }

  &__polygon {
    width: 480px;
    height: 480px;
    margin: 0 auto;
    border: 20px solid #CADBF195;
    border-radius: 50%;
    position: relative;

    &_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &_list {
      width: 120px;
      height: 120px;
      position: relative;
    }

    &_card {
      position: absolute;
      width: 120px;
      height: 120px;

      &-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }

      &-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: rgba(0, 0, 0, 0.8);
        position: absolute;
      }
    }

    & .first {
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);

      & p {
        width: 317px;
        left: 50%;
        top: -20px;
        transform: translate(-45%, -100%);
      }
    }

    & .second {
      left: 95%;
      top: 25%;
      transform: translate(-50%, -50%);

      & p {
        width: 297px;
        right: -20px;
        top: 50%;
        transform: translate(100%, -50%);
      }
    }

    & .third {
      right: 95%;
      top: 25%;
      transform: translate(50%, -50%);

      & p {
        width: 221px;
        left: -20px;
        top: 50%;
        transform: translate(-100%, -50%);
      }
    }

    & .fourth {
      right: 95%;
      top: 75%;
      transform: translate(50%, -50%);

      & p {
        width: 217px;
        left: -20px;
        top: 50%;
        transform: translate(-100%, -50%);
      }
    }

    & .fifth {
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);

      & p {
        width: 547px;
        left: 50%;
        bottom: -20px;
        transform: translate(-50%, 100%);
      }
    }

    & .sixth {
      left: 95%;
      top: 75%;
      transform: translate(-50%, -50%);

      & p {
        width: 254px;
        right: -20px;
        top: 50%;
        transform: translate(100%, -50%);
      }
    }
  }
}

.aboutCompany {
  position: relative;

  &__button {
    position: absolute;
    top: 700px;
    right: 0;
  }

  &__bag {
    position: absolute;
    top: 1500px;
    right: 0;
  }
}

@media (max-width: 1400px) {
  .aboutCompanyHome {
    .container {
      max-width: 1200px;
    }

    &__card {
      width: 50%;

      &_title {
        font-size: 32px;
      }

      &_subtitle {
        font-size: 28px;
      }

      &_descr {
        font-size: 22px;
      }
    }

    &__img {
      width: 50%;

      & img {
        width: 100%;
      }
    }

    &__item {
      &_subtitle {
        font-size: 22px;
      }
    }
  }

  .aboutFacts {
    .container {
      max-width: 1200px;
    }

    &__card {
      &_title {
        font-size: 18px;
      }
    }

    &__subtitle {
      font-size: 22px;
    }

    &__descr {
      font-size: 22px;
    }
  }

  .cycle {
    .container {
      max-width: 1200px;
    }

    .section__title {
      font-size: 41px;
    }

    &__img {
      width: 250px;
      height: 150px;
    }

    &__polygon_card-title {
      font-size: 22px;
    }

    &__polygon .fifth p {
      width: 501px;
    }
  }
}

@media (max-width: 1200px) {
  .aboutCompanyHome {
    .container {
      max-width: 992px;
    }

    &__row {
      align-items: center;
      margin: 50px 0;
    }

    &__card {
      &_subtitle {
        font-size: 24px;
      }
    }

    &__item {
      &_subtitle {
        font-size: 21px;
      }
    }
  }

  .aboutFacts {
    .container {
      max-width: 992px;
    }

    &__card {
      width: calc((100% / 3) - (40px / 3));
    }
  }

  .cycle {
    .container {
      max-width: 992px;
    }

    &__polygon {
      width: 400px;
      height: 400px;

      & .first p {
        width: 255px;
      }

      & .fifth p {
        width: 460px;
      }

      &_card {
        width: 100px;
        height: 100px;

        &-title {
          font-size: 20px;
        }
      }

      &_list {
        width: 100px;
        height: 100px;
      }

      &_logo {
        width: 180px;
      }
    }
  }
}

@media (max-width: 992px) {
  .aboutCompany {
    .container {
      max-width: 768px;
    }
  }
  .aboutFacts {
    &__row {
      justify-content: center;
      flex-wrap: wrap;
    }

    &__card {
      width: 40%;
    }
  }

  .aboutCompanyHome {
    &__row {
      flex-direction: column;
      row-gap: 30px;
    }

    &__card {
      width: 100%;

      &_title {
        font-size: 28px;
      }

      &_subtitle {
        font-size: 22px;
      }

      &_descr {
        font-size: 20px;
      }
    }

    &__item {
      &_subtitle {
        font-size: 20px;
      }
    }
  }

  .cycle {
    &__img {
      width: 200px;
      height: 120px;
    }

    .section__title {
      font-size: 32px;
      line-height: 45px;
    }

    &__polygon {
      margin: 0 auto;
      width: 320px;
      height: 320px;

      &_list {
        width: 80px;
        height: 80px;
      }

      &_logo {
        width: 120px;
      }

      &_card {
        &-title {
          font-size: 17px;
          line-height: 25px;
        }

        &-item {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          & img {
            width: 50px;
            height: 40px;
          }
        }
      }

      .second {
        left: 100%;

        p {
          right: -5px;
          width: 197px;
        }
      }

      .third {
        right: 100%;
      }

      .third p {
        transform: translate(0);
        left: -170px;
      }

      .fourth {
        right: 100%;
      }

      .fourth p {
        transform: translate(0);
        left: -170px;
      }

      .fifth {
        transform: translate(-50%, 65%);
      }

      .fifth p {
        width: 420px;
      }

      .sixth {
        left: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .aboutCompany {
    .container {
      max-width: 576px;
    }
  }
  .aboutCompanyHome {
    &__row {
      margin: 30px 0 0;
    }

    &__card {
      &_title {
        font-size: 22px;
        margin: 0 0 20px;
      }

      &_descr {
        font-size: 18px;
      }
    }

    &__img {
      width: 80%;
    }

    &__item {
      margin: 20px 0 0;
      padding: 20px;

      &_subtitle {
        font-size: 18px;
        line-height: 170%;
      }
    }
  }

  .aboutFacts {
    &__card {
      width: calc(50% - 10px);
    }

    &__subtitle {
      font-size: 18px;
      line-height: 170%;
    }

    &__descr {
      font-size: 16px;
      line-height: 170%;
    }
  }

  .cycle {
    .section__title {
      font-size: 28px;
    }

    &__img {
      display: none;
    }

    &__polygon {
      width: 250px;
      height: 250px;

      .first p {
        width: 200px;
      }

      .second p {
        width: auto;
        right: -10px;
        transform: translate(100%, -50%);
      }

      .third p {
        width: 130px;
        left: -20px;
        transform: translate(-100%);
      }

      .fourth p {
        transform: translate(-100%);
        width: 130px;
        left: -20px;
      }

      .fifth p {
        width: 340px;
      }

      .sixth p {
        width: auto;
        right: -10px;
        transform: translate(100%, -50%);
      }

      &_logo {
        width: 80px;
      }

      &_card {
        width: 60px;
        height: 60px;

        &-item {
          img {
            width: 40px;
            height: 30px;
          }
        }

        &-title {
          font-size: 14px;
        }
      }

      &_list {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media (max-width: 576px) {
  .aboutCompany {
    padding: 0 20px;

    .aboutCompanyHome {
      &__card {
        &_subtitle {
          line-height: 25px;
          font-size: 20px;
        }
        &_descr {
          font-size: 17px;
          line-height: 25px;
        }
      }
    }
    .aboutFacts {
      &__row {
        flex-direction: column;
      }
      &__card {
        width: 100%;
      }
    }
    .cycle {
      h2 {
        margin: 0 0 100px;
      }
      &__polygon {
        width: 200px;
        height: 200px;
        .first p {
          width: 170px;
          top: -10px;
        }
        .second p {
          width: 110px;
          right: -5px;
        }
        .third p {
          width: 120px;
          left: -5px;
          transform: translate(-100%, -50%);
        }
        .fourth p {
          width: 118px;
          left: -5px;
          transform: translate(-100%, -50%);
        }
        .fifth p {
          width: 300px;
          bottom: -10px;
        }
        &_logo {
          width: 50px;
        }
        &_list {
          width: 40px;
          height: 40px;
        }
        &_card {
            width: 40px;
            height: 40px;
          &-item {
            width: 40px;
            height: 40px;
            img {
              width: 30px;
              height: 30px;
            }
          }
          &-title {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .aboutCompany {
    padding: 0 10px;
    .aboutCompanyHome {
      &__card {
        &_subtitle {
          font-size: 18px;
          line-height: 22px;
        }
      }
      &__item {
        &_subtitle {
          font-size: 16px;
        }
      }
    }

    .cycle {
      .section__title {
        font-size: 22px;
        line-height: 30px;
        margin: 0 0 70px;
      }
      &__polygon {
        width: 250px;
        height: 250px;
        &_card {
          &-title {
            display: none;
          }
        }
      }
    }
  }
}