.formBack {
  background: url("back.png") center/cover;
  z-index: 555555555;
  width: 1206px;
  height: 656px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: startForm 0.5s linear;
}
.formBack .form {
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 12;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}
.formBack .form-pos {
  position: relative;
}
.formBack .form-close {
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 15000000;
  font-size: 30px;
  color: black;
  cursor: pointer;
}
.formBack .form h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #000000;
}
.formBack .form_inp {
  width: 500px;
  padding: 20px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.65);
  outline: none;
}
.formBack .form_inp::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.65);
}
.formBack .form .checkbox {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.formBack .form .checkbox input {
  width: 20px;
  height: 20px;
}
.formBack .form .checkbox span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.formBack .form_button {
  padding: 19px 63px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  background: #AB937F;
  border-radius: 1px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.8);
}
.formBack-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(202, 219, 241, 0.5);
  backdrop-filter: blur(5px);
}

.formBlackLayer {
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  background: #00000080;
  position: fixed;
  z-index: 555555554;
  top: 0;
  left: 0;
  animation: startFormBlackLayer 0.5s linear;
}

.thanks {
  z-index: 555555555;
  background: url("back.png") center/cover;
  width: 1206px;
  height: 656px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: startForm 0.5s linear;
}
.thanks__layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.3905) 38.98%);
  backdrop-filter: blur(5px);
}
.thanks__content {
  position: relative;
}
.thanks-close {
  position: absolute;
  right: -24%;
  top: -135%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.thanks h2 {
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
.thanks p {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  margin: 30px 0 0;
  width: 800px;
}

@keyframes startForm {
  0% {
    top: -100%;
  }
  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes startFormBlackLayer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@media (max-width: 1400px) {
  .formBack {
    padding: 100px 180px;
    width: auto;
    height: auto;
  }
  .formBack br {
    display: none;
  }

  .thanks {
    width: 860px;
    height: 651px;
  }
}
@media (max-width: 1000px) {
  .formBack {
    padding: 50px 100px;
  }

  .thanks {
    width: 700px;
    height: 551px;
  }
  .thanks p {
    width: auto;
  }
}
@media (max-width: 700px) {
  .formBack {
    padding: 20px 50px;
  }

  .thanks {
    width: 600px;
    height: 491px;
  }
}
@media (max-width: 600px) {
  .formBack .form_button {
    font-size: 22px;
    padding: 19px 50px;
  }

  .formBack .form {
    row-gap: 20px;
  }

  .formBack .form_inp::placeholder {
    font-size: 18px;
  }

  .formBack .form_inp {
    font-size: 18px;
  }

  .formBack .form h2 {
    font-size: 32px;
  }

  .formBack .form_inp {
    width: 350px;
  }

  .formBack .form .checkbox span {
    font-size: 14px;
  }

  .thanks {
    width: 450px;
    height: 451px;
  }
  .thanks p {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 500px) {
  .formBack .form h2 {
    font-size: 32px;
  }

  .formBack .form_inp {
    width: 280px;
  }

  .formBack .form .checkbox span {
    font-size: 9px;
    line-height: normal;
  }

  .thanks {
    width: 380px;
    height: 421px;
  }
  .thanks h2 {
    font-size: 42px;
  }
  .thanks p {
    margin: 10px 0 0;
  }
}
@media (max-width: 425px) {
  .formBack .form h2 {
    line-height: 36px;
  }

  .formBack {
    padding: 20px 20px;
  }

  .formBack .form_inp {
    padding: 15px 28px;
  }

  .formBack .form h2 {
    font-size: 26px;
  }

  .formBack .form_inp {
    width: 260px;
  }

  .thanks {
    width: 300px;
    height: 372px;
  }
  .thanks-close {
    right: 5%;
    top: -90%;
  }
  .thanks h2 {
    font-size: 36px;
    line-height: 45px;
  }
  .thanks p {
    font-size: 18px;
    line-height: 25px;
  }
}

/*# sourceMappingURL=FormStyles.css.map */
