.benefits {
  position: relative;
  padding: 40px 0 70px;
  &__title {
    margin: 70px 0 40px;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #45423F;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
  }
  &__button {
    position: absolute;
    right: 0;
    top: 300px;
  }
  &__bag {
    position: absolute;
    right: 0;
    top: 1085px;
  }
}

@media (max-width: 1600px) {
  .benefits {
    .container {
      max-width: 1400px;
    }
    &__title {
      font-size: 38px;
      margin: 50px 0 30px;
    }
    .work__card_subtitle {
      height: auto;
    }
  }
}

@media (max-width: 1400px) {
  .benefits {
    .container {
      max-width: 1200px;
    }
    &__title {
      font-size: 42px;
    }
    .work {
      &__row {
        column-gap: 40px;
      }
      &__swiper {
        padding: 0 60px;
      }
      &__card {
        width: calc(50% - 20px);
        column-gap: 30px;
        align-items: center;
        padding: 15px;
        &_title {
          font-size: 22px;
        }
        &_subtitle {
          font-size: 20px;
        }
        &_img {
          padding: 0 30px;
          width: 150px;
          height: 130px;
          & img {
            width: 94px;
            height: 64px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .benefits {
    .container {
      max-width: 992px;
    }
    &__title {
      font-size: 32px;
      line-height: 45px;
      margin: 50px 0 40px;
    }
    &__row {
      column-gap: 20px;
      row-gap: 20px;
    }
    .work {
      &__card {
        width: calc(50% - 10px);
        column-gap: 20px;
        &_title {
          font-size: 20px;
        }
        &_img {
          width: 120px;
          height: 100px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .benefits {
    .container {
      max-width: 768px;
    }
    &__title {
      font-size: 32px;
      line-height: 45px;
      margin: 70px 0 30px;
    }
    &__row {
      justify-content: center;
    }
    .work {
      &__card {
        width: 70%;
      }
    }
  }
}

@media (max-width: 768px) {
  .benefits {
    .container {
      max-width: 576px;
    }
    &__row {
      row-gap: 40px;
    }
    &__title {
      font-size: 22px;
      line-height: 130%;
      margin: 40px 0 30px;
    }
    .work__card {
      width: 80%;
    }
  }
}

@media (max-width: 576px) {
  .benefits {
    padding: 50px 20px;
    &__title {
      font-size: 20px;
    }
    .work__card {
      width: 100%;
      &_title {
        font-size: 18px;
        line-height: 130%;
      }
      &_subtitle {
        font-size: 16px;
        line-height: 130%;
      }
    }
  }
}

@media (max-width: 425px) {
  .benefits {
    padding: 50px 10px;
    .work__card {
      &_img {
        width: 100px;
        height: 80px;
      }
    }
  }
}